@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    color: rgba(34, 38, 42, 1);
    font: 400 15px/22px 'Popins', Arial , Helvetica ,sans-serif;
}
a{
    text-decoration: none;
    color: inherit;
    transition: 0.4s ease;
}
img{
    max-width: 100%;
}
ul li {
    list-style-type: none;
}
button{
    display: block;
    border: none;
    font: inherit;
    background-color: transparent;
    cursor: pointer;
    transition: 0.4s ease;
}
.container{
    max-width: 1140px;
    margin: 0 auto;
    padding: 0 5px;
}
.btn-primary{
    color: #fff;
    background-color: #22262A;
    padding: 4px 28px;
    font-size: 18px;
    font-weight: 500;
    line-height: 27px;
}
.btn-primary:hover{
    color: black;
    background-color: #e1b226;
}
/* Header */
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 ;
}
.header-logo{
    font-size: 28px;
    line-height: 42px;
}
.header-nav-item{
    display: inline-block;
    font-size: 18px;
    margin-right: 25px;
}
.header-nav-item:hover{
    color: #dc0808;
}
.header-nav-item:last-child{
    margin-right: 0;
}
.header-user_item{
    display: inline-block;
    margin-right: 30px;
}
.header-user_item:hover{
    color: #dc0808;
}
.header-user_item:last-child{
    margin-right: 0;
}
/* Banner */
.banner-wrap{
    padding: 425px 0 100px;
    background: url(../img/header_logo.png) no-repeat;
    background-size: cover;
}
.banner{
    max-width: 460px;
    margin-left: auto;
}
.banner__text{
    display: block;
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.banner__trend{
    font-size: 80px;
    font-weight: 700;
    line-height: 120px;
}
.banner__text{
    font-weight: 500;
    font-size: 18px;
    line-height: 27px;
}
.banner-link-wrap{
    margin-top: 27px;
}
.banner__link:first-child {
    margin-right: 34px;
}